


h1 {
color:#fc0;
font-family:Impact,Charcoal, sans-serif;
font-size:30pt;
text-align:center;
text-shadow:1px -1px #da0, 2px -2px #da0, 3px -3px #da0, 4px -4px #da0, 5px -5px #da0;
}


}

 h2{

font-size: 25pt;
color: #FAEFF9 ;
font-family:Impact,Charcoal, sans-serif;
text-align:center;
text-shadow:1px -1px #da0, 2px -2px #da0, 3px -3px #da0, 4px -4px #da0, 5px -5px #da0;
}

